body 
{
    margin: 80px   110px   120px;
}


#login_form
{
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin: 30px   210px  20px;
}


#titulo
{
    display: flex;
    justify-content: center;
    align-items: center;
}


#submit_button
{
    margin-left: 20%;
    margin-bottom: 50px;
}


#registrarse-enlace
{
    margin-left: 20%;
    margin-bottom: 50px;
    background: black;
}